.container {
  max-width: 80%;
}

.pageTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.buttonContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.submitButton {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition:
    background-color 0.3s,
    opacity 0.3s;
}
/* 수정하기 버튼 활성화 상태 */
.submitButton:hover {
  background-color: #0056b3;
}
/* 수정하기 버튼 비활성화 상태 */
.submitButton:disabled {
  background-color: #a0aec0; /* 회색 */
  cursor: not-allowed;
  opacity: 0.5;
}

/* 수정하기 버튼 비활성화 상태에서는 hover 효과 제거 */
.submitButton:disabled:hover {
  background-color: #a0aec0;
}

.deleteButton {
  background-color: #dc3545;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  transition: background-color 0.3s;
  right: 0; /* 수정하기 버튼 우측 끝에 배치 */
}

.deleteButton:hover {
  background-color: #c82333;
}
