.container {
  max-width: 80vh;
}

.pageTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.buttonContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.submitButton,
.deleteButton {
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.submitButton {
  background-color: #00a8ff;
}
/* 수정하기 버튼 활성화 상태 */
.submitButton:hover {
  background-color: #1f98d4;
}
/* 수정하기 버튼 비활성화 상태 */
.submitButton:disabled {
  background-color: #00a8ff;
  opacity: 0.6; 
  cursor: not-allowed;
  pointer-events: none; 
}

/* 비활성화 상태에서 hover 시 색상이 변하지 않도록 설정 */
.submitButton:disabled:hover {
  background-color: #00a8ff; /* hover 시 색상 유지 */
  opacity: 0.6;
}

.deleteButton {
  background-color: #dc3545;
}

.deleteButton:hover {
  background-color: #b41f2e;
}
